.header {
  padding: 20px 0;
  .logoutButton {
    background-color: #ff4a4a;
    color: white;
    height: 45px;
    border-radius: 10px;
    width: 120px;
  }
}

.messages {
  width: 700px;
  margin: auto;
}
